@model IEnumerable<Aranda.FrontEnd.Models.Product>
@{
    int index = 0;
    ViewBag.Title = "Home Page";
}
<link href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<br />
<div class="row">
    <div class="col-md-12">
        <div class="col-md-4">
            <a href="javascript:reload()" class="btn btn-default btn-block btn-raised"><i class="glyphicon glyphicon-refresh"></i> Actualizar</a>
        </div>
        <div class="col-md-4">
            <a href="javascript:categoryCreate()" class="btn btn-default btn-block btn-raised"><i class="glyphicon glyphicon-bookmark"></i> Crear Categoría</a>
        </div>
        <div class="col-md-4">
            <a href="javascript:create()" class="btn btn-default btn-block btn-raised"><i class="glyphicon glyphicon-bookmark"></i> Crear Producto</a>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <table class="table-bordered table-condensed table-hover table-responsive table-striped table">
            <thead class="thead-dark">
                <tr>
                    <th>No.</th>
                    <th>Nombre del Producto</th>
                    <th>Detalle</th>
                    <th>Categoría</th>
                    <th>Fecha de Creación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Aranda.FrontEnd.Models.Product item in Model.ToList())
                {
                    <tr>
                        <td>@{index++;}@index</td>
                        <td>@item.Name</td>
                        <td>@item.BriefDescription</td>
                        <td>@item.CategoryName</td>
                        <td>@item.CreationDate.ToString("dd-MM-yyyyy")</td>
                        <td>
                            <a href="javascript:edit('@item.ProductId')" class="glyphicon glyphicon-edit"></a>
                            <a href="javascript:images('@item.ProductId')" class="glyphicon glyphicon-picture"></a>
                            <a href="javascript:remove('@item.ProductId')" class="glyphicon glyphicon-trash" style="color:darkred"></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div id="Dialog"></div>
<script>
    //Reload
    function reload() {
        window.location.reload();
    }
    //Edit
    function edit(id) {
        modalMessage("@Url.Action("ModalEdit", "Message")", id);
    }
    //Create
    function create() {
        modalMessage("@Url.Action("ModalCreate", "Message")", "");
    }
    //Delete
    function remove(id) {
        modalMessage("@Url.Action("ModalDelete", "Message")", id);
    }
    //Add Image and list
    function images(id) {
        modalMessage("@Url.Action("ModalImages", "Message")", id);
    }
    //Category Create
    function categoryCreate() {
        modalMessage("@Url.Action("Index", "Message")", "");
    }
    $(document).ready(function () {
        $('.table').DataTable({
            "language": {
                "lengthMenu": "_MENU_ resultados por página",
                "zeroRecords": "No se han encontrado ningún resultado.",
                "info": "Página _PAGE_ de _PAGES_",
                "infoEmpty": "No se han encontrado ningún resultado.",
                "infoFiltered": "(filtered from _MAX_ total records)"
            }
        });
    });
</script>